html, body {
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #2636b7;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h2 {
    color: #fff;
    font-size: clamp(18px, 4vw, 28px);
}

.button_centralizer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.btn-master{
    width: 20vh;
    height: 5vh;
    background-color: #2636b7;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 7px;
    opacity: 95%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
}
.btn-master:hover{
    transform: scale(1.08);
    transition: 0.5s;
}